<div class="mt-6">
    <div class="row">

        {{#each courses}}
        <div class="col-sm-4 col-lg-4" href="#">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}">     <!--để tìm khóa học bằng slug trong search box-->
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a> 
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">   <!--và khi ấn vào khóa học nó sẽ chuyển hướng sang web mới theo search box-->
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>